body {
  background: -moz-repeating-linear-gradient(45deg, #470678, #390064 65px);
  background: -webkit-repeating-linear-gradient(45deg, #470678, #390064 65px);
  background-size: 100px 100px; }

.img__logo {
  border-radius: 1rem; }

.text-like-1 {
  font-size: 2rem;
  color: lightgray; }

/* Maps */
.btn-hover01 {
  background-color: #abba21; }
  .btn-hover01:hover {
    color: #535353; }

.btn-hover02 {
  background-color: #ffffff; }
  .btn-hover02:hover {
    color: #535353; }

.font-light {
  color: #eee; }

.font-dark {
  color: #000; }

#scss__navbar {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  position: sticky;
  top: 0; }

#carouselMain .carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh; }

#carouselMain {
  margin-top: -76.22px; }

.carousel-item-scss:nth-child(1) {
  background-image: url("../images/halo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.carousel-item-scss:nth-child(2) {
  background-image: url("../images/eldenRing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.carousel-item-scss:nth-child(3) {
  background-image: url("../images/valorant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#separador__carousel {
  width: 100%;
  overflow: hidden; }

.content {
  width: 150%;
  height: 150px;
  margin-left: -25%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #a76530; }

.btn-C84B31 {
  background-color: #C84B31;
  border: 1px solid;
  color: white; }

.bg-191919 {
  background-color: #191919; }

.card-border, .contenedor__galeria .item__galeria {
  box-shadow: 0px 0px 4px 3px rgba(154, 95, 184, 0.54);
  -webkit-box-shadow: 0px 0px 4px 3px rgba(154, 95, 184, 0.54);
  -moz-box-shadow: 0px 0px 4px 3px rgba(154, 95, 184, 0.54);
  border-radius: 20px;
  overflow: hidden;
  transition: all ease ease-out 0.2s; }
  .card-border:hover, .contenedor__galeria .item__galeria:hover {
    transform: scale(1.05); }

.imgCardOfertas {
  height: 200px; }

.bg__text {
  background: url("../../images/spaceblock.jpg");
  margin-bottom: 4rem;
  box-shadow: 0px 0px 14px 6px rgba(211, 117, 255, 0.54);
  -webkit-box-shadow: 0px 0px 14px 6px rgba(211, 117, 255, 0.54);
  -moz-box-shadow: 0px 0px 14px 6px rgba(211, 117, 255, 0.54);
  border-radius: 20px; }

.img__novedades {
  height: 350px; }

.card__tienda {
  height: 180px; }

.tienda__titulo {
  background: url(../../images/spaceblock.jpg);
  box-shadow: 0px 0px 14px 6px rgba(211, 117, 255, 0.54);
  -webkit-box-shadow: 0px 0px 14px 6px rgba(211, 117, 255, 0.54);
  -moz-box-shadow: 0px 0px 14px 6px rgba(211, 117, 255, 0.54);
  height: 3em;
  text-align: center;
  justify-content: center;
  padding-top: 1.5rem;
  font-size: 2rem;
  border-radius: 1rem; }

.card__game--tienda {
  box-shadow: 0px 0px 23px 8px rgba(41, 29, 4, 0.74);
  -webkit-box-shadow: 0px 0px 23px 8px rgba(41, 29, 4, 0.74);
  -moz-box-shadow: 0px 0px 23px 8px rgba(41, 29, 4, 0.74);
  border-radius: 20px; }

.game__shop__descripcion {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  height: 27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem; }

/* Dimensiones*/
#main__biblioteca {
  display: grid;
  grid-template-areas: "barra main";
  grid-template-columns: 18% auto; }

#barra__lateral {
  grid-area: barra;
  background-color: rgba(48, 23, 95, 0.4);
  height: 100%;
  width: 100%; }

.contenedor__barra {
  display: flex;
  flex-direction: column;
  color: lightgray;
  overflow: hidden; }
  .contenedor__barra h2 {
    padding-left: 2rem;
    font-size: 22px;
    margin-top: 1rem; }
  .contenedor__barra ul {
    padding: 1rem; }
  .contenedor__barra li {
    list-style: none;
    margin-top: 1rem; }
  .contenedor__barra a {
    text-decoration: none;
    color: lightgray; }
  .contenedor__barra img {
    width: 35px;
    height: 25px;
    margin-right: 2px;
    border-radius: 5px; }
  .contenedor__barra .item__barra {
    margin: 1rem;
    overflow: hidden;
    transition: all ease ease-out 0.2s; }
    .contenedor__barra .item__barra:hover {
      transform: scale(1.05);
      background-color: rgba(195, 136, 8, 0.8);
      border-radius: 1rem;
      height: 2rem; }

#biblioteca__galeria {
  grid-area: main; }

.contenedor__galeria {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  margin: auto; }
  .contenedor__galeria .item__galeria {
    margin: 1rem; }
  .contenedor__galeria img {
    width: 100%;
    height: 100%;
    border-radius: 5px; }

@media (max-width: 768px) {
  .contenedor__galeria {
    grid-template-columns: repeat(2, 1fr); }
  #main__biblioteca {
    display: flex; }
  #barra__lateral {
    display: none; } }

@media (max-width: 480px) {
  .contenedor__galeria {
    grid-template-columns: repeat(1, 1fr); } }

.presentacion, .formulario fieldset {
  color: whitesmoke;
  font-size: 1.5rem;
  text-align: center; }

.formulario {
  margin: 50px;
  background-color: rgba(49, 48, 47, 0.8);
  color: lightgray;
  border-radius: 1rem; }
  .formulario fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
  .formulario label {
    font-size: 1.2rem; }
  .formulario input, .formulario .configuraciones__generales .informacion__configuraciones .opciones__confg select, .configuraciones__generales .informacion__configuraciones .opciones__confg .formulario select {
    width: 12rem;
    margin: 1rem;
    border-radius: 0.5rem; }
  .formulario textarea {
    width: 20rem;
    height: 15rem;
    margin: 1rem; }
  .formulario button {
    width: 12rem;
    margin: 1rem;
    height: 3rem;
    border-radius: 0.5rem; }

.configuraciones__generales, .configuraciones__generales .informacion__configuraciones, .configuraciones__generales .informacion__configuraciones .opciones__confg {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh; }
  .configuraciones__generales .informacion__configuraciones, .configuraciones__generales .informacion__configuraciones .informacion__configuraciones, .configuraciones__generales .informacion__configuraciones .opciones__confg .informacion__configuraciones {
    justify-content: center;
    flex-direction: row;
    margin: 1rem; }
    .configuraciones__generales .informacion__configuraciones .opciones__confg, .configuraciones__generales .informacion__configuraciones .informacion__configuraciones .opciones__confg {
      margin: 4rem; }
      .configuraciones__generales .informacion__configuraciones .opciones__confg h3 {
        margin: 1rem; }
      .configuraciones__generales .informacion__configuraciones .opciones__confg input, .configuraciones__generales .informacion__configuraciones .opciones__confg select {
        margin: 1rem;
        height: 3rem;
        text-align: center; }
  @media (max-width: 480px) {
    .configuraciones__generales .informacion__configuraciones, .configuraciones__generales .informacion__configuraciones .informacion__configuraciones, .configuraciones__generales .informacion__configuraciones .opciones__confg .informacion__configuraciones {
      flex-direction: column; } }
  @media (max-width: 768px) {
    .configuraciones__generales .informacion__configuraciones, .configuraciones__generales .informacion__configuraciones .informacion__configuraciones, .configuraciones__generales .informacion__configuraciones .opciones__confg .informacion__configuraciones {
      flex-direction: column; } }
