.card__game--tienda{
    box-shadow: 0px 0px 23px 8px rgba(41,29,4,0.74);
    -webkit-box-shadow: 0px 0px 23px 8px rgba(41,29,4,0.74);
    -moz-box-shadow: 0px 0px 23px 8px rgba(41,29,4,0.74);
    border-radius: 20px;
}
.game__shop__descripcion{
    background-color: rgba(0,0,0,0.7);
    border-radius: 1rem;
    height: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
}