#scss__navbar{
    z-index:100;
    background-color: rgba(0,0,0,0.6);
    position: sticky;
    top:0
}
#carouselMain
.carousel-inner,
.carousel-item,
.carousel-item.active{
    height: 100vh;    
}
#carouselMain{
    margin-top: -76.22px;
}
.carousel-item-scss:nth-child(1){
    background-image: url("../images/halo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.carousel-item-scss:nth-child(2){
    background-image: url("../images/eldenRing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.carousel-item-scss:nth-child(3){
    background-image: url("../images/valorant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
#separador__carousel{
    width: 100%;
    overflow: hidden;
}
.content{
    width: 150%;
    height: 150px;
    margin-left:-25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #a76530
}
.btn-C84B31{
    background-color: #C84B31;
    border: 1px solid;
    color: white;    
}
.bg-191919{
    background-color: #191919;
}
.card-border{
    box-shadow: 0px 0px 4px 3px rgba(154,95,184,0.54);
    -webkit-box-shadow: 0px 0px 4px 3px rgba(154,95,184,0.54);
    -moz-box-shadow: 0px 0px 4px 3px rgba(154,95,184,0.54);
    border-radius: 20px;
    overflow: hidden;
    transition: all ease ease-out 0.2s;
    &:hover{
        transform: scale(1.05);
    }
}
.imgCardOfertas{
    height: 200px;
}
.bg__text{
    background: url("../images/spaceblock.jpg");
    margin-bottom: 4rem;
    box-shadow: 0px 0px 14px 6px rgba(211,117,255,0.54);
    -webkit-box-shadow: 0px 0px 14px 6px rgba(211,117,255,0.54);
    -moz-box-shadow: 0px 0px 14px 6px rgba(211,117,255,0.54);
    border-radius: 20px;
}
.img__novedades{
    height: 350px;
}


  