.card__tienda{
    height: 180px;
}
.tienda__titulo{
    background: url(../../images/tablon.png);
    height: 3em;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
}