/* Maps */
$colores:("hover01":#abba21,"hover02":#ffffff);
@each $name, $colors in $colores {
    .btn-#{$name}{
        background-color: $colors;
        &:hover {
            color:rgb(83, 83, 83);
        }
    }
};
$fontColor:("light":#eee,"dark":#000);
@each $name, $colorFont in $fontColor {
    .font-#{$name}{
        color: $colorFont;
    }
}